app/src/main/res/xml/db_schema.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="database" type="database"/>

    <xs:complexType name="database">
        <xs:sequence>
            <xs:element name="image-data" type="image-data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="image-data">
        <xs:sequence>
            <xs:element name="id" type="xs:ID" minOccurs="0"/>
            <xs:element name="uri" type="xs:string" minOccurs="0"/>
            <xs:element name="long" type="xs:double" minOccurs="0"/>
            <xs:element name="lat" type="xs:double" minOccurs="0"/>
            <xs:element name="creation-data" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="cam-manufacturer" type="xs:string"/>
            <xs:element name="cam-model" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

